body {
    background-color: rgb(248, 248, 248);
    margin: 0;
}

#box0 {
    background-color: rgb(39, 188, 148);
    height: 10vh; /* não se pode usar %, o melhor é usar vh pois o tamanho da altura vai se adaptar ao navegador */
    text-align: center;
    font-size: 1.5em;
    color: white;
    align-content: center;
}

#box1 {
    background-color: rgb(231, 92, 92);
    width: auto; /* px, %, vw */
    height: 5vh; /* não se pode usar %, o melhor é usar vh pois o tamanho da altura vai se adaptar ao navegador */
    color: white;
    align-content: center;
    font-size: 1.5em; /* px, em, rem */
    text-align: center;
}

#box2 {
    background-color: rgb(251, 236, 97);
    align-content: center;
    text-align: center;
    width: 80%;
    height: 35vh;
    margin-left: auto;
    margin-right: auto;
}

#box3 {
    background-color: rgb(255, 255, 255);
    align-content: center;
    text-align: center;
    width: 80%;
    height: 35vh;
    margin-left: auto;
    margin-right: auto;
}

#box2 img {
    width: 130px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#box4 {
    background-color: rgb(63, 152, 65);
    align-content: center;
    width: auto;
    height: 15vh;
    text-align: center;
}

